
	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<span><h4>{{destino.nombre}}</h4> </span>
		</div>
		<div class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elit elit, bibendum vitae nulla vitae, consequat luctus est. Vestibulum molestie aliquam ultrices. Duis vehicula neque sit amet turpis blandit venenatis id in leo. Donec cursus ligula vel pharetra cursus. Fusce varius elit mi, in bibendum massa sollicitudin quis. Duis nisl augue, sollicitudin in mollis luctus, pellentesque id mi. Aenean laoreet sollicitudin sapien rutrum cursus. Mauris ultrices eleifend ipsum in elementum.</p>
			<a href="#" class="btn-card">Read</a>
		</div> 
	</div>
